$hamburger: #363636;
$green: #6fbc25;
$black: #1f2020;
$white: #fbfbfb;
$grey-cta: #b2b2b2;
$grey-txt: #676767;
$black-txt: #444444;
$checked-mark: #ff5901;
$green-menu: #8fd24e;
$white-menu: #f6f6f6;
$grey-menu: #949494;
$grey-back: #f8f8f8;
