.who_we {
    padding-top: 40px;
    display: flex;
    flex-direction: column-reverse;
    background-color: $white-menu;
    .image {
        content: "";
        // background: transparent
        //     url(("../../dist/images/homepage/mobile/plant-tree-innovation-save-world.png")) 0% 0%
        //     no-repeat padding-box;
        height: auto;
        width: 100vw;
        background-size: cover;
        background-position: center;
        img {
            width: 100%;
            height: auto;
        }
    }
    .description {
        .container {
            display: flex;
            flex-direction: column;
            span {
                font: normal normal bold 18px/27px Nunito;
                letter-spacing: 0.65px;
                color: $black;
            }
            .green {
                color: $green;
                font: normal normal bold 13px/24px Nunito;
                letter-spacing: 0.39px;
            }
            p {
                font: normal normal normal 13px/24px Nunito;
                letter-spacing: 0.39px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
}
.numbers {
    margin: 50px 0;
    .container {
        .item-animate {
            display: flex;
            justify-content: end;
            text-align: left;
            align-items: center;
            .num {
                font: normal normal bold 35px/65px Nunito;
                letter-spacing: 0px;
                color: $green;
                width: 35%;
            }
            span {
                text-align: left;
                font: normal normal normal 16px/24px Nunito;
                letter-spacing: 0.48px;
            }
        }
    }
}

.why_us {
    content: "";
    position: relative;
    overflow: hidden;
    background: url("../../dist/images/homepage/mobile/Path 1866.svg") right bottom no-repeat;
    background-size: cover;
    img {
        position: absolute;
        width: auto;
        height: 100%;
        left: 0%;
    }
    .box {
        position: relative;
        box-shadow: none;
    }
    .container {
        .title {
            display: flex;
            flex-direction: column;

            z-index: 9;
            margin: 50px 0;
            span {
                font: normal normal bold 18px/27px Nunito;
                letter-spacing: 0.65px;
            }
            .green {
                color: $green;
                font: normal normal bold 13px/27px Nunito;
                letter-spacing: 0px;
            }
        }
        .square {
            display: grid;

            grid-auto-rows: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 20px 20px;
            grid-template-areas:
                "one two"
                "three four"
                "five six"
                "seven eight";
            margin-bottom: 50px;

            .sqr {
                border: 2px solid $white-menu;
                width: 110px;
                height: 120px;
                position: relative;
                font: normal normal bold 13px/20px Nunito;
                letter-spacing: 0.39px;
                color: $white-menu;
                padding: 5px;
                display: flex;
                flex-direction: column-reverse;
                margin: 0 auto;
                .icon {
                    right: 10px;
                    @include icons-mobile;
                }
                .txt {
                    text-align: center;
                    font: normal normal normal 16px/24px Nunito;
                    letter-spacing: 0.39px;
                }
            }
        }
    }
}
.our_offer {
    .title {
        .container {
            display: flex;
            flex-direction: column;
            margin-top: 30px;
            span {
                font: normal normal bold 18px/27px Nunito;
                letter-spacing: 0.65px;
            }
            .green {
                color: $green;
                font: normal normal bold 13px/27px Nunito;
                letter-spacing: 0px;
            }
        }
        p {
            font: normal normal normal 13px/24px Nunito;
            letter-spacing: 0.39px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        button {
            background-color: transparent;
            border: 1px solid $green;
            border-radius: 5px;
            color: $green;
            display: block;
            font-size: 16px;
            font-weight: 600;
            height: 40px;
            letter-spacing: 0.28px;
            padding: 0;
            line-height: 40px;
            text-align: center;
            width: 150px;
        }
    }
    .splide {
        padding: 0;
        margin: 30px auto;
    }
    button.splide__arrow--prev {
        left: 0px;
        border: 0px solid;
        text-align: left;
        svg {
            display: none;
        }
        &::after {
            content: "";
            background: transparent url(("./../dist/images/homepage/desktop/arrow.png")) 0% 0%
                no-repeat padding-box;
            position: absolute;
            background-position: center;
            background-size: contain;
            content: "";
            height: 16px;
            position: absolute;
            transform: rotate(180deg);
            width: 70px;
        }
    }

    .splide__arrow {
        top: 110%;
    }

    #splide2-list,
    #splide2-track {
        height: 100%;
    }
    button.splide__arrow--next {
        right: 10%;
        border: 0px solid;
        text-align: left;
        svg {
            display: none;
        }
        &::after {
            content: "";
            background: transparent url(("./../dist/images/homepage/desktop/arrow.png")) 0% 0%
                no-repeat padding-box;
            position: absolute;
            background-position: center;
            background-size: contain;
            content: "";
            height: 16px;
            position: absolute;
            width: 70px;
        }
    }
    .splide__slide {
        img {
            display: flex !important;
            width: 100%;
            height: auto;
        }
    }
    .splide__pagination {
        display: none;
    }
}
@media (max-width: 1029px) {
    .collab {
        padding: 50px 0;
        .container {
            .title {
                margin-top: 30px;
                text-align: center;
                display: flex;
                flex-direction: column;
                span {
                    font: normal normal bold 18px/27px Nunito;
                    letter-spacing: 0.65px;
                }
                .green {
                    color: $green;
                    font: normal normal bold 13px/27px Nunito;
                    letter-spacing: 0px;
                }
            }
            p {
                font: normal normal normal 13px/24px Nunito;
                letter-spacing: 0.39px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    #splide .splide__slide {
        display: none;
    }
    #splide .splide__slide:nth-child(-n + 2) {
        display: flex;
    }
    .splide {
        padding: 0em;
    }
    .splide__slide img {
        vertical-align: bottom;
        width: 80%;
    }
    .splide__list {
        margin: 0 auto !important;
    }
    .box {
        text-align: center;
        margin: 30px auto;
        max-width: 100%;
        padding: 30px 0;
        box-shadow: 0px 0px 16px #0000001a;
    }
    .loadMore {
        font: normal normal normal 16px/24px Nunito;
        color: $grey-txt;
        letter-spacing: 0.48px;
        cursor: pointer;
        position: relative;
        display: flex;
        text-align: center;
        width: 50%;
        text-align: center;
        justify-content: space-evenly;
        margin: 30px auto;
        div.arrow {
            width: 9px;
            height: 9px;
            box-sizing: border-box;
            top: 4px;
            transform: rotate(135deg);
            display: inline-block;
            position: relative;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border-width: 2px 2px 0 0;
                border-style: solid;
                border-color: $green;
                transition: 0.2s ease;
                display: block;
                transform-origin: 100% 0;
            }

            &:after {
                content: "";
                float: left;
                position: relative;
                top: -100%;
                width: 100%;
                height: 100%;
                border-width: 0 2px 0 0;
                border-style: solid;
                border-color: $green;
                transform-origin: 100% 0;
                transition: 0.2s ease;
            }
        }
    }
    .loadMore:hover {
        color: black;
    }
    .showLess {
        font: normal normal normal 16px/24px Nunito;
        letter-spacing: 0.48px;
        color: $grey-txt;
        cursor: pointer;
        display: none;
        width: 90%;
        text-align: center;
        width: 50%;
        text-align: center;
        justify-content: space-evenly;
        margin: 0 auto;
        div.arrow {
            width: 9px;
            height: 9px;
            box-sizing: border-box;
            position: relative;
            top: 10px;
            transform: rotate(-45deg);
            display: inline-block;
            &::before {
                content: "";
                width: 100%;
                height: 100%;
                border-width: 2px 2px 0 0;
                border-style: solid;
                border-color: $green;
                transition: 0.2s ease;
                display: block;
                transform-origin: 100% 0;
            }

            &:after {
                content: "";
                float: left;
                position: relative;
                top: -100%;
                width: 100%;
                height: 100%;
                border-width: 0 2px 0 0;
                border-style: solid;
                border-color: $green;
                transform-origin: 100% 0;
                transition: 0.2s ease;
            }
        }
    }
    .showLess:hover {
        color: black;
    }
    .feed {
        overflow: hidden;
        position: relative;
        background-color: $grey-back;
        .container {
            .title {
                margin-top: 30px;
                text-align: left;
                display: flex;
                flex-direction: column;
                span {
                    font: normal normal bold 18px/27px Nunito;
                    letter-spacing: 0.65px;
                }
                .green {
                    color: $green;
                    font: normal normal bold 13px/27px Nunito;
                    letter-spacing: 0px;
                }
            }
            .splide__pagination {
                display: none;
            }
            button.splide__arrow--next {
                right: 25%;
                border: 0px solid;
                text-align: left;
                svg {
                    display: none;
                }
                &::after {
                    content: "";
                    background: transparent url(("./../dist/images/homepage/desktop/arrow.png")) 0%
                        0% no-repeat padding-box;
                    position: absolute;
                    background-position: center;
                    background-size: contain;
                    content: "";
                    height: 16px;
                    position: absolute;
                    width: 70px;
                }
            }
            button.splide__arrow--prev {
                left: 25%;
                border: 0px solid;
                text-align: left;
                svg {
                    display: none;
                }
                &::after {
                    content: "";
                    background: transparent url(("./../dist/images/homepage/desktop/arrow.png")) 0%
                        0% no-repeat padding-box;
                    position: absolute;
                    background-position: center;
                    background-size: contain;
                    content: "";
                    height: 16px;
                    position: absolute;
                    transform: rotate(180deg);
                    width: 70px;
                }
            }
            .splide__arrow {
                top: 90%;
            }
            .box {
                background: #ffffff 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 16px #44444440;

                margin: 100px auto;
                position: relative;
                width: 98%;
                .avatar {
                    text-align: center;
                    width: 100px;
                    top: -50px;
                    position: relative;
                    margin: 0 auto;
                    height: 100px;
                    border: 2px $green solid;
                    border-radius: 50%;
                    line-height: 50px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                .quote {
                    text-align: center;
                    height: 32px;
                    top: -25px;
                    position: relative;
                    margin: 0 auto;
                    img {
                        height: 100%;
                    }
                }
                .txt {
                    text-align: center;
                    font: normal normal normal 16px/24px Nunito;
                    letter-spacing: 0.39px;
                    color: $grey-txt;
                }
                .nick {
                    text-align: center;
                    font: normal normal 600 16px/22px Nunito;
                    letter-spacing: 0px;
                    color: $black-txt;
                    padding: 40px 0;
                }
            }
        }
    }
}
.steps {
    .container-title {
        width: 90%;
        margin: 0 auto;
    }
    .title {
        margin-top: 30px;
        margin-bottom: 80px;
        text-align: left;
        display: flex;
        flex-direction: column;
        span {
            font: normal normal bold 18px/27px Nunito;
            letter-spacing: 0.65px;
        }
        .green {
            color: $green;
            font: normal normal bold 13px/27px Nunito;
            letter-spacing: 0px;
        }
    }
    .image {
        display: none;
    }
    // timeline style
    .timeline {
        position: relative;
        padding-left: 4rem;

        color: white;
        max-width: 300px;
        margin: 0 auto;

        .cta {
            display: none;
        }
        .timeline-container {
            position: relative;
            margin: 2.5rem auto;
            max-width: 150px;
            .cta {
                display: none;
            }
            .timeline-icon {
                border-radius: 50%;
                font-size: 2rem;
                height: 70px;
                left: -110px;
                position: absolute;
                text-align: center;
                top: 4px;
                width: 70px;
                border: 2px solid $green;
                background-color: white;
                img {
                    height: 50%;
                    position: relative;
                    top: 17px;
                    width: auto;
                }

                span {
                    color: $green;
                    position: absolute;
                    font: normal normal 600 16px/23px Poppins;
                    letter-spacing: 0px;
                    right: -20px;
                    top: -7px;
                }
            }

            .timeline-body {
                .timeline-title {
                    margin-bottom: 1.4rem;

                    .badge {
                        font: normal normal 600 16px/22px Nunito;
                        letter-spacing: 0.48px;
                        color: $black-txt;
                    }
                }

                .timeline-subtitle {
                    font-weight: 300;
                    font-style: italic;
                    opacity: 0.4;
                    margin-top: 16px;
                    font-size: 11px;
                }
                p {
                    text-align: left;
                    font: normal normal normal 13px/24px Nunito;
                    letter-spacing: 0.39px;
                    color: $grey-txt;
                }
            }
            &::before {
                content: "";
                background: transparent url(("../dist/images/homepage/mobile/Line343.svg")) 0% 0%
                    no-repeat padding-box;
                background-position: 50%;
                background-size: contain;
                content: "";

                width: 20px;
                position: absolute;

                height: 40px;
                left: -90px;
                top: 50%;
                transform: translate(50%, 50%);
            }
            &:last-of-type {
                &::before {
                    display: none;
                }
            }
        }
    }
}
.gallery {
    padding: 30px 0;
    .container {
        .title {
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
                font: normal normal bold 18px/27px Nunito;
                letter-spacing: 0.65px;
            }
            .green {
                color: $green;
                font: normal normal bold 13px/27px Nunito;
                letter-spacing: 0px;
            }
        }
        .loadMore {
            a {
                font: normal normal normal 16px/24px Nunito;
                color: $grey-txt;
                letter-spacing: 0.48px;
                cursor: pointer;
                position: relative;
                display: flex;
                text-align: center;
                margin: 20px 0;
                text-align: center;
                justify-content: space-evenly;
                margin: 0 auto;
                width: 100%;
                div.arrow {
                    width: 9px;
                    height: 9px;
                    box-sizing: border-box;
                    top: 4px;
                    transform: rotate(135deg);
                    display: inline-block;
                    position: relative;
                    &::before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        border-width: 2px 2px 0 0;
                        border-style: solid;
                        border-color: $green;
                        transition: 0.2s ease;
                        display: block;
                        transform-origin: 100% 0;
                    }

                    &:after {
                        content: "";
                        float: left;
                        position: relative;
                        top: -100%;
                        width: 100%;
                        height: 100%;
                        border-width: 0 2px 0 0;
                        border-style: solid;
                        border-color: $green;
                        transform-origin: 100% 0;
                        transition: 0.2s ease;
                    }
                }
            }
        }
        .container {
            display: grid;

            grid-gap: 30px;
            .gallery-img {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item-1 {
                grid-column-end: 2;
                grid-column-start: 1;
                grid-row-end: 3;
                grid-row-start: 1;
            }
            .item-2 {
                grid-column-end: 3;
                grid-column-start: 2;
                grid-row-end: 3;
                grid-row-start: 1;
            }
            .item-3 {
                display: none;
            }
            .item-4 {
                grid-column-end: 3;
                grid-column-start: 1;
                grid-row-end: 6;
                grid-row-start: 3;
            }
            .item-5 {
                display: none;
            }
            .item-6 {
                display: none;
            }
        }
    }
}
.money {
    background-color: $grey-back;
    position: relative;
    z-index: 9;
    content: "";
    .container {
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 50%;
            z-index: -1;
        }
        .title {
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: left;
            display: flex;
            flex-direction: column;

            span {
                font: normal normal bold 18px/27px Nunito;
                letter-spacing: 0.65px;
                width: 160px;
            }
            .green {
                color: $green;
                font: normal normal bold 13px/27px Nunito;
                letter-spacing: 0px;
            }
        }
        p {
            font: normal normal normal 13px/24px Nunito;
            letter-spacing: 0.39px;
            margin-top: 20px;
            margin-bottom: 70px;
            width: 100%;
        }
        .cta {
            background-color: $green;
            border: 1px solid $green;
            border-radius: 5px;
            color: $white;
            display: block;
            font-size: 16px;
            font-weight: 600;
            height: 40px;
            letter-spacing: 0.28px;
            line-height: 40px;
            padding: 0;
            text-align: center;
            width: 150px;
            cursor: pointer;
            margin-bottom: 80px;
            &:hover {
                box-shadow: 0px 0px 16px #0000001a;
            }
        }
    }
}
.talk {
    background: url(("../../dist/images/homepage/mobile/xxxxx.png")) 0% 0% no-repeat padding-box;
    background-position: center;
    background-size: auto;
    content: "";

    .container {
        .title {
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
            span {
                font: normal normal bold 18px/27px Nunito;
                letter-spacing: 0.65px;
            }
            .green {
                color: $green;
                font: normal normal bold 13px/27px Nunito;
                letter-spacing: 0px;
            }

            p {
                font: normal normal normal 13px/24px Nunito;
                letter-spacing: 0.39px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        input,
        textarea {
            background-color: transparent;
            border: 0px solid;
            outline: none;
            padding: 20px;
            width: 90%;
        }
        input:active + .form-group,
        input:focus + .form-group,
        input:hover + .form-group {
            border: 2px solid $black-txt;
        }

        .form-group {
            padding: 0px;
            border: 0.5px solid $black-txt;
            margin: 20px 0;
            position: relative;
            &:focus-within {
                border: 2px solid $black-txt;
            }
        }
        .form-group > label {
            position: absolute;
            left: 20px;
            background-color: white;
            top: -15px;
            font-size: 12px;
            padding: 0 5px;
        }

        .form-group > input {
            border: none;
        }
        .wpcf7-submit {
            background-color: #6fbc25;
            border: 0 solid;
            border-radius: 5px;
            color: #fbfbfb;
            display: block;
            font-size: 16px;
            font-weight: 600;
            height: 40px;
            letter-spacing: 0.28px;
            text-align: center;
            width: 170px;
            line-height: inherit;
            padding: 0;
            margin: 15px auto;
        }
        form {
            position: relative;
            font: normal normal normal 13px/24px Nunito;
            letter-spacing: 0.39px;
            a {
                color: $grey-txt;
            }
        }
        .wpcf7-list-item {
            position: relative;
            width: 90%;
            margin: 0 0 0 auto;
            display: block;
            text-align: left;
        }
        input[type="checkbox"] {
            /*position: relative;*/
            position: absolute;
            visibility: hidden;
            width: 30px;
            height: 30px;
            top: 100%;
            left: 0;
        }

        input[type="checkbox"] + span:before {
            display: block;
            position: absolute;
            content: "";
            border-radius: 0;
            height: 20px;
            width: 20px;
            top: 5px;
            left: -30px;
            border: 1px solid $black-txt;
        }
        input[type="checkbox"] + span:after {
            display: block;
            position: absolute;
            content: "\2713";
            height: 20px;
            width: 20px;
            top: 5px;
            height: 20px;
            color: red;
            /* background-color: white; */
            left: -28px;
            visibility: hidden;
            font-size: 28px;
            text-align: center;
            line-height: 20px;
        }
        input[type="checkbox"]:checked + span:before {
            background: transparent;
        }
        input[type="checkbox"]:checked + span:after {
            visibility: visible;
        }
        .wpcf7-list-item-label {
            margin-left: 0px;
        }
    }
}
