@media (min-width: 1030px) {
    div.back {
        max-height: 1000px;
        img {
            height: auto;
            width: 100%;
        }
        &::after {
            background: linear-gradient(180deg, rgba(77, 125, 31, 0.49), rgba(56, 94, 19, 0));
            background-position: -35px;
            background-size: cover;
            content: "";
            float: right;
            height: 1000px;
            position: absolute;
            text-align: right;
            top: 0;
            width: 100%;
            left: 0;
        }
    }

    .desc {
        position: relative;
        width: 50vw;
        z-index: 9;
    }
    .back {
        overflow: hidden;
    }
    .desktop {
        display: block;
    }

    div.container.main {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 900px;
        display: flex;
        flex-direction: column;
        z-index: 99;
        span {
            font-size: 55px;
            line-height: 65px;
            font-weight: 900;
        }
        .texty {
            li {
                font: normal normal 600 18px/36px Nunito;
                letter-spacing: 0.65px;
                p {
                    font: normal normal 600 18px/36px Nunito;
                    letter-spacing: 0.65px;
                }
            }
        }
    }
}
